<div class="image">
        <h1 id="header"><a [routerLink]="['/']">Exportify</a></h1>
        <h1 id="quote">No feeling matches the BIG SCREEN experience!</h1>
        <div class="buttons">
        <button id="button1" type="button" class="btn btn-danger">
          <a [routerLink]="['/bookMovie']">Book a Ticket!</a>
        </button>
        <button id="button2" type="button" class="btn btn-danger"><a [routerLink]="['/bookings']">Check your bookings</a></button>
      </div>
      </div>
      
      
      